<template>
  <div id="app">
    <div id="nav" style="text-align:center">
      儿子，别看了啥都没有
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> -->
      <button @click="vuexClick">点击有惊喜</button>
    </div>
    <Editor id="tinymce" v-model="tinymceHtml" :init="editorInit"></Editor>
    <div v-html='tinymceHtml'></div>
    <!-- <router-view/> -->
    <editer v-model="bg"></editer>

    <div id="div5"></div>
    <div id="div6"></div>
    <button id='complete'>333</button>
  </div>
</template>
<script>
import tinymce from 'tinymce/tinymce'
import 'tinymce/themes/silver/theme'
import Editor from '@tinymce/tinymce-vue'
import editer from '@/views/About.vue'
import Edit from "wangeditor";
import {mapActions} from 'vuex'
import {LOGIN_IN} from '@/store/name'
export default {
  components:{
     Editor,editer
  },
  data(){
    return{
      tinymceHtml:'',
      editorInit: {
        language_url: '/tinymce/zh_CN.js',
        language: 'zh_CN',
        skin_url: '/tinymce/skins/ui/oxide',
        height: 300
      },
      bg:{}
    }
  },
  methods:{
    // vuexClick(){
    //   this.$store.dispatch('login_in')
    // }
    ...mapActions({
      "vuexClick":LOGIN_IN

    })
  },
  mounted(){
    tinymce.init({})
    console.log('sss')
    var editor = new Edit("#div5", "#div6");
    editor.customConfig.onchange = html => {
       console.log(editor.txt.html());
    };
    editor.create();
    
    //想获取文本编译框内的html，可以添加事件获取
    document.getElementById("complete").addEventListener("click", function() {
      var json = editor.txt.getJSON(); // 获取 JSON 格式的内容
      var jsonStr = JSON.stringify(json);
      console.log(json);
      console.log(jsonStr);
    });
  }
}
</script>>
<style lang="stylus">
#app
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin-top 60px
.tox 
  .tox-statusbar
    display none !important;
  .tox-menubar
    display none !important;

#div6 {
  height: 200px;
  background: #f1f7f9;
}
</style>
